*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
/* Alternate bg-color
background: rgb(29,30,32);
*/

img {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 40%;
}

span{
	color: orange;
}

p a, span a, a {
  color: orange;
  text-decoration: none;
}

p a:hover, a:visited, span a:visited{  
  color: orange;
}

p a:hover, span a:hover, a:hover {
  text-decoration: underline;
}
.banner {
  height: 100%;
  min-height: 50vh;
}

.key{
	word-wrap: break-word;
}

.content {
  background-color: #15202b;
  color:#eee;
  height: 100%;
  min-height: 50vh;
  font-size: 1.2em;
}
