*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
body {
	font-size: 1em;
	font-weight: 200;
	color: #ccc ;
	width: 100%;
	overflow-x: hidden;
}
/* Alternate bg-color
background: rgb(29,30,32);
*/

img {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 40%;
}

span{
	color: blue;
}

.banner{
	height: 100vh;
}

.key{
	word-wrap: break-word;
}
