{{ partial "header.html" . -}}
<div class="row bg-warning bg-gradient banner">
  <section class="col-sm-12 align-self-center">
    <img src="img/logo_black.png" alt="">
  </section>
  <section class="col-sm-12 align-self-center text-center">
    <h1 class="p-3">Bitcoin Education</h1>
    <h5 class="p-3">LiveFreeBTC is a New Hampshire based organization dedicated to education on all things Bitcoin.</h5>
    <h5>Email me to inquire about Bitcoin educational resources. I can help guide you through the process of buying, storing, and understanding Bitcoin</h5>
    <br>
    <p>Follow me on NOSTR <span>npub1f86cvxyx0xhjkv0g6chlz5a67anl6rzcdyulg9pw7etqd53kla6st65px6</span></p>
    <p>Or on Twitter <span>LiveFreeBTC</span></p>
    <p>Email <span>livefreebtc@protonmail.com</span></p>
  </section>
</div>

{{- partial "footer.html" . }}
