{{ partial "header.html" . -}}
<div class="row bg-warning bg-gradient banner">
  <section class="col-sm-12 align-self-center">
    <img src="img/logo_black.png" alt="">
  </section>
  <section class="col-sm-12 align-self-center text-center">
    <h1 class="p-3">Bitcoin Education</h1>
    <h5 class="p-3">LiveFreeBTC is a New Hampshire based organization dedicated to education on all things Bitcoin.</h5>
    <button class="btn btn-primary p-2 m-2">Hello</button>
  </section>
</div>
  <article class="bg-dark bg-gradient p-3 text-light">
      <h1 class="text-center"></h1>

</article>
{{- partial "footer.html" . }}
