*{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
body {
	font-size: 1.2em;
	font-weight: 200;
	color: #ccc ;
	width: 100%;
}
/* Alternate bg-color
background: rgb(29,30,32);
*/

img {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 40%;
}

.banner{
	height: 100vh;
}